@use "../partials/mixins";
@use "../partials/variables";

.single-case{

	.wp-block-image.size-large,
	.case-result .video-holder,
	.case-result .quote-holder,
	.wp-block-video{

		@include mixins.MQ(L){

			margin-left: -90px;
			margin-right: -90px;

		}

	}

	.case-result .video-holder{
		position: relative;

		video{
			width: 100%;
		}
	}

	.wp-block-image{
		margin-bottom: 1.5em;
	}

	.wp-block-image.size-medium img,
	.wp-block-image.size-large img{
		width: 100%;
	}	

	.case-header-image{
		width: 100%;
		height: 600px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: variables.$beachsand;
	}

	.case-title{
		font-family: variables.$moskau-md;
		font-size: 2.7em;
		letter-spacing: 0px;
		text-align: center;
		margin: 0;
		display: block;
		color: variables.$dark;
		margin-top: -128px;
		background-color: white;
		position: relative;
		z-index: 2;
		border-radius: 8px 8px 0 0;
		padding: 30px 25px;
		hyphens: auto;

		@include mixins.MQ(S){
			font-size: 5.8em;
			padding: 105px 64px;
			line-height: 75px;
			hyphens: none;
		}
	}

	.intro-samenvatting-holder{
		padding: 0 30px;

		@include mixins.MQ(S){
			padding: 0 75px;
		}	

		.beige-box{

			border-radius: 0.8rem;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%), #F0EDE5;
			padding: 48px 32px;
			margin-bottom: 120px;

			h3{
				color: var(--mf-royal-blue-dark, #17285D);
				font-family: variables.$moskau-md;
				font-size: 1.8em;
				font-style: normal;
				font-weight: 400;
				line-height: 100%; /* 1.8rem */
				margin: 0 0 1em 0;
				padding: 0 0 0 30px;
				position: relative;

				&:before{
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					position: absolute;
					top: 0;
					left: 0;
					background-image: url(../images/sprite.svg);
					background-position: -23px -1458px;
				}

			}

			p{
				color: #17285D;
				font-family: variables.$dm;
				font-size: 1.8em;
				font-style: normal;
				font-weight: 400;
				line-height: 150%; /* 2.7rem */
				letter-spacing: -0.01rem;
			}

		}

	}

	.intro_klantdescription{
		background-color: variables.$beachsand;
		padding-bottom: 90px;
		margin-bottom: 120px;
		position: relative;

		@include mixins.MQ(S){
			padding-top: 45px;
			padding-bottom: 45px;
		}

		@include mixins.MQ(M){
			padding-top: 0;
			padding-bottom: 90px;
		}


		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 75px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: white;

			@include mixins.MQ(S){
				display: none;
			}

			@include mixins.MQ(M){
				display: block;
			}

		}

		.wrap{
			position: relative;
		}

		.background-deco{
			width: 100%;
			height: 120px;
			position: absolute;
			top: 75px;
			left: 0;
			z-index: 1;
			display: block;

			@include mixins.MQ(S){
				width: 200px;
				height: calc(100%);
				top: 0;
				left: 0;
			}

			@include mixins.MQ(M){
				width: 50%;
				height: calc(100% - 75px);
				top: 75px;
				left: 0;
			}

		}

		.background-deco-hider{
			width: calc(100% - 118px - 180px);
			height: calc(100% - 75px + 90px);
			position: absolute;
			top: 75px;
			right: 0;	
			z-index: 1;		
			display: none;

			@include mixins.MQ(S){
			}

			@include mixins.MQ(M){
				display: block;
			}

		}

		.uk-grid{
			position: relative;
			z-index: 2;
		}

		.client-image{

			margin: 0 auto;
			max-width: 420px;
			height: 0;
			padding-bottom: 100%;
			background-size: cover;
			background-position: center center;
			position: relative;
			
			@include mixins.MQ(XS){
				padding-bottom: 75%;
			}

			@include mixins.MQ(S){
				width: 100%;
				max-width: 420px;
				height: 0;
				padding-bottom: 100%;
			}			

			img{
				width: 100%;
				height: auto;
				display: none;
			}

			.client-logo{
				width: 120px;
				height: 120px;
				border-radius: 100%;
				background-position: center center;
				background-size: 75% auto;
				background-repeat: no-repeat;
				background-color: white;
				position: absolute;
				bottom: -60px;
				left: 50%;
				margin-left: -60px;
				margin-top: 60px;

				@include mixins.MQ(S){
					bottom: 30px;
					left: -36px;
					margin-left: 0;
					margin-top: 0;
				}
			}
		}

		h2,
		h3{
			color: #FFF;
			font-family: variables.$moskau;
			font-size: 3.6em;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 4.32rem */
			margin: 48px 0 16px 0;
			text-align: center;

			@include mixins.MQ(S){
				text-align: left;
				margin-top: 0;
			}

		}

		p{
			color: #FFF;
			font-family: variables.$dm;
			font-size: 1.8em;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 2.52rem */	
			hyphens: none;
			text-align: center;

			@include mixins.MQ(S){
				text-align: left;
			}		
		}
	}

	.cta-blocks-for-case{
		background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), #F0EDE5;
		padding: 0 0 120px 0;

		@include mixins.MQ(S){
			padding: 120px 0;
		}

		h2{
			color: var(--mf-royal-blue-dark, #17285D);
			text-align: center;
			font-family: variables.$moskau;
			font-size: 3em;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 4.8rem */
			margin-bottom: 64px;

			@include mixins.MQ(S){
				font-size: 4em;
			}
		}

		.blokje{
			border-radius: 8px;
			background: #FFF;
			padding: 40px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			margin: 0 auto;
			max-width: 320px;

			@include mixins.MQ(S){
				padding: 20px;
			}			

			@include mixins.MQ(M){
				padding: 40px;
				max-width: 100%;
			}						

			img{
				max-width: 50%;
				height: auto;
			}
		
			h3{
				color: var(--mf-royal-blue-dark, #17285D);
				text-align: center;
				font-family: variables.$moskau;
				font-size: 2.9em;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 3.48rem */
				margin-top: 24px;

				@include mixins.MQ(S){
					font-size: 2.1em;
				}			

				@include mixins.MQ(M){
					font-size: 2.9em;
				}	

			}

			.blue-button{
				margin-top: 24px;
			}
		}

	}

	.case-result{
		background: linear-gradient(180deg, #F0EDE5 0%, rgba(246, 244, 239, 0.00) 100%);
		padding: 80px 0 0 0;

		@include mixins.MQ(M){
			padding: 80px 0;
		}

		.quote-holder{
			border-radius: 8px;
			overflow: hidden;
			background: #FFF;

			.quote-quote{
				padding: 32px 32px 48px 32px;
				color: var(--mf-royal-blue-dark, #17285D);
				font-family: variables.$moskau-md;
				font-size: 2.2em;
				font-style: normal;
				font-weight: 400;
				line-height: 140%; /* 3.64rem */
				text-align: center;

				@include mixins.MQ(S){
					hyphens: none;
					padding: 80px 48px;
					font-size: 2.6em;
					text-align: left;
				}

				&:before{
					content: '"';
					display: inline;
				}

				&:after{
					content: '"';
					display: inline;
				}	
			}

			.righter{
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				.quote-info{
					flex-grow: 0;
					flex-shrink: 0;
					width: 100%;
				}

				.foto-holder-holder{
					flex-grow: 1;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				
					@include mixins.MQ(S){
						background: linear-gradient(90deg, rgba(255, 255, 255, 0.40) 0%, #FFF 100%), #F0EDE5;
					}

				}

				.foto-holder{
					width: 120px;
					height: 120px;
					border-radius: 100%;
					background-position: center center;
					background-size: cover;
					display: block;
					margin: -60px 20px 0 20px;

					@include mixins.MQ(S){
						width: 222px;
						margin: 40px;
						height: 222px;
					}
				}
			}

			.quote-info{
				padding: 18px 16px;
				background-color: white;

				.naam{
					color: var(--mf-royal-blue-dark, #17285D);
					font-family: variables.$dm;
					font-size: 1.8em;
					font-style: normal;
					font-weight: 700;
					line-height: 130%; /* 2.34rem */
					text-align: center;

					@include mixins.MQ(S){
						text-align: left;
					}

				}

				.functie{
					color: var(--mf-royal-blue-dark, #17285D);
					font-family: variables.$dm;
					font-size: 1.6em;
					font-style: normal;
					font-weight: 400;
					line-height: 130%;
					text-align: center;

					@include mixins.MQ(S){
						text-align: left;
					}

				}				
			}

		}

	}

	.case-cta + .cta-blocks-for-case{
		margin-top: 90px;

		@include mixins.MQ(S){
			margin-top: 0;
		}
	}

	.case-cta{
		background-color: variables.$blue;
		padding: 120px 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		&:before{
			content: "";
			width: 100%;
			height: 100%;
			background-color: variables.$dark;
			opacity: 0.5;
			mix-blend-mode: multiply;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}

		.cta-box{
			background-color: white;
			border-radius: 8px;
			padding: 48px;
			text-align: center;
			position: relative;
			z-index: 2;

			h2{
				color: var(--mf-royal-blue-dark, #17285D);
				text-align: center;
				font-family: variables.$moskau-md;
				font-size: 2.6em;
				font-style: normal;
				font-weight: 400;
				line-height: 140%; /* 3.64rem */
				margin-bottom: 32px;
			}
		}
	}

	.case-result .gutenberg-blocks.running-tekst{

		p{
			margin-bottom: 1em;

			&:last-child{
				margin-bottom: 1.5em;
			}
		}

	} 

	.gutenberg-blocks{
		margin-bottom: 120px;

		&.running-tekst{
			
			p{
				margin-bottom: 1.5em;
			}

			.beige-box p{
				margin-bottom: 6px;
			}

			@include mixins.MQ(L){

				.wp-block-image.size-full{
					margin-left: -90px;
					margin-right: -90px;
				}

			}

		} 

		h3{
			color: var(--mf-blue-ryb, #504FFF);
			font-family: variables.$moskau-md;
			font-size: 1.8em;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 1.8rem */
			margin-top: 56px;

			&:first-child{
				margin-top: 0;
			}
		}

		h2{
			color: #17285D;
			font-family: variables.$moskau;
			font-size: 3em;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 4.32rem */
			text-align: left;
			max-width: 100%;
			margin-bottom: 15px;
			margin-top: 40px;

			@include mixins.MQ(S){
				font-size: 3.6em;
			}
		}

		h3 + h2{
			margin-top: 0;
		}
	}

	blockquote.wp-block-quote{
		margin-left: 0;
		margin-right: 0;
		margin-top: 48px;
		margin-bottom: 32px;
		font-size: 1em;

		@include mixins.MQ(S){
			margin-left: -30px;
			margin-right: -30px;
			margin-top: 56px;
			margin-bottom: 56px;
		}

		cite{
			color: var(--mf-blue-ryb, #504FFF);
			font-family: MoskauGrotesk;
			font-size: 2.7em;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 5.2rem */

			@include mixins.MQ(S){
				font-size: 4em;
			}

		}
	}

	.beige-box{
		background-color: variables.$beachsand;
		padding: 40px 30px;
		border-radius: 8px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 16px;

		p{
			color: #17285D;
			font-family: variables.$dm;
			font-size: 2em;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: -0.01rem;
			margin: 0;
			padding: 0;
		}

		img{
			border-radius: 8px;
		}

		ul{
			margin: 0;
			padding: 0;
			list-style: none;

			li{
				color: #17285D;
				font-family: variables.$dm;
				font-size: 2em;
				font-style: normal;
				font-weight: 400;
				line-height: 150%; /* 3rem */
				letter-spacing: -0.01rem;
				position: relative;

				&:before{
					top: 12px;
				}
			}
		}
	}

}