@use "../partials/mixins";
@use "../partials/variables";


// #menu:not( .mm-menu ) {
//     display: none;
// }


.mm-spn {

    .contact-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-mobile a.button{
        display: inline-block;
    }

    .contact-mobile {
        padding: 24px;
        border-bottom: 1px solid #DFDCD5;
    }

    .small-menu-mobile{
        padding: 16px;
        position: relative;
        z-index: 0;
        
        .small-menu-links{
            padding: 0;

            li a{
                margin: 0;
                padding: 13px 0;
                font-family: variables.$moskau-md;
                font-size: 1.4em;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 1.4rem */
                display: inline-block;
                transition: all .2s ease;
                color: var(--MF-Blue-RYB, #504FFF);

                &:hover{
                    color: var(--MF-Royal-Blue-Dark, #17285D);
                }
            }

            li.vacatures-counter a{
                padding-right: 30px;

                .number-vacatures{
                    top: 50%;
                    margin-top: -10px;
                }
            }
        }
    }

    .languages-menu-mobile .languages{
        display: block;
        margin: 0;
        padding: 0 16px;

        ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li{
                font-size: 1em;
            }

            li span,
            li a{
                text-align: center;
                font-family: variables.$moskau-md;
                font-size: 1.4em;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 1.4rem */
                padding: 4px;
                border-radius: 4px;
                margin: 0 16px 0 0;
                color: var(--MF-Royal-Blue-Dark, #17285D);
            }

            li a:hover,
            li span{
                background: rgba(80, 79, 255, 0.07);                
                color: var(--MF-Blue-RYB, #504FFF);
            }
        }
    }

    .languages-menu-mobile ul,
    .small-menu-mobile ul{
        -webkit-overflow-scrolling: touch;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        width: auto;
        overflow: visible;
        overflow-y: auto;
        background: inherit;
        transition: left 0.3s ease 0s;
        cursor: default;

        &:before,
        &:after{
            display: none;
        }

        li{

            &:before,
            &:after{
                display: none;
            }

        }
    }

}



.mm-ocd{
    z-index: 2000;
    top: 67px;

    @include mixins.MQ(S){
        top: 93px;
    }      

    .has-photo .title,
    a.link-title,
    span.link-title{
        color: var(--MF-Royal-Blue-Dark, #17285D);
        font-family: MoskauGrotesk-Medium;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 1.6rem */
        padding: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        img{
            width: 24px;
            margin-right: 12px;
        }
    }

    li:before{
        width: 24px;
        height: 24px;
        transform: none;
        top: 50%;
        margin-top: -12px;
        border: none;
        opacity: 1;
        background-image: url(../images/sprite.svg);
        background-position: -927px -1046px;
        right: 20px;
    }

    li.has-photo-holder{
        position: relative;

        &.has-photo-holder-with-tags:before{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background-image: url(../images/icons/menu/arrow-blue.svg);
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) calc(50% - -4px);
            margin-top: 0;
        }


        &.has-photo-holder-without-tags:before{
            display: none;
        }        

        .taglist{
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            overflow: visible;

            &:before{
                display: none;
            }        

            li{
                border-radius: 6px;
                background: #F6F4EF;
                margin: 6px;
                overflow: hidden;

                &:before,
                &:after{
                    display: none;
                }
            }

            a{
                color: var(--MF-Royal-Blue-Dark, #17285D);
                font-family: variables.$dm;
                font-size: 1.4em;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 1.4rem */
                padding: 9px 16px;

                span{
                    padding: 0;
                }

                &:hover{
                    color: white;
                    background: variables.$blue;
                }
            }
        }

    }

    .mm-spn--navbar:before{
        width: 24px;
        height: 24px;
        transform: none;
        top: 20.5px;
        border: none;
        opacity: 1;
        background-image: url(../images/sprite.svg);
        background-position: -1003px -1046px;
        left: 20px;
        right: auto;
    }

    .mm-spn--navbar:after{
        color: var(--MF-Royal-Blue-Dark, #17285D);
        font-family: MoskauGrotesk-Medium;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        opacity: 1;
        padding-top: 2px;
    }

    li:after{
        border-bottom: 1px solid #DFDCD5;
    }

    ul.taglist{
        bottom: auto;

        &:after{
            width: 100%;
            height: 100vh;
            display: block;
            background-color: white;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
        }
    }  
  
    .has-photo-holder{
        &:after{
            display: none;
        }
        padding: 8px 8px 0 8px;
    }

    .has-photo {

        padding: 16px 48px 16px 104px;
        position: relative;

        border-radius: 0.8rem;
        border: 1px solid #DFDCD5;

        .title{
            padding: 0;
        }

        .description{
            color: #17285D;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: variables.$dm;
            font-size: 1.4em;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 1.68rem */
            letter-spacing: -0.01rem;
            padding: 0;   
            margin-top: 8px; 
        }
        
        .photo-holder{
            width: 72px;
            height: 72px;
            background-position: center center;
            background-size: contain;
            position: absolute;
            top: 50%;
            margin-top: -36px;
            left: 16px;
        }

    }

}

:root {
    --mm-spn-item-height: 65px;
    --mm-spn-item-indent: 0;
    --mm-spn-line-height: 48px;
    --mm-spn-panel-offset: 50%;
    --mm-ocd-width: 100%;
}

.mm-spn.mm-spn--light.mm-spn--navbar.mm-spn--main{
    &:after{
        display: none;
    }
    & > ul{
        top: 0
    }

}

.mm-ocd--open{
    background: none;
}

.mm-ocd__content{
    background: #FFF;

}

.mm-ocd-opened .mm-ocd__content{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.30);
}

.mm-spn.mm-spn--light{
    background-color: white;
}
