@use "../partials/mixins";
@use "../partials/variables";


@include mixins.MQ(S){

	.block-tekst-foto-holder.layout-RL .block-tekst-foto{

		.foto-holder{
			float: right;
		}

	}

}

.block-tekst-foto{

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	// padding: 0 24px;

	// @include MQ(S){
	// 	padding: 0 90px;
	// }

	& > .uk-grid{
		margin-left: -40px;

		& > *{
			padding-left: 40px;
		}
	}

	.foto-holder{

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		// flex: 0 0 100%;
		width: 100%;
		max-width: 500px;

		&.has-bg{
			padding: 0 45px 15px 30px;
			position: relative;

			&:before{
				content: "";
				display: block;
				position: absolute;
				width: calc(100% - 75px);
				height: calc(100% - 15px);
				background: variables.$hawkes;
				z-index: 1;
				top: 15px;
				left: 45px;
			}

			img{
				position: relative;
				z-index: 2;
			}
		}

		&.hawkes{
			&:before{
				background: variables.$hawkes;
			}			
		}

		&.aero{
			&:before{
				background: variables.$aero;
			}			
		}

		img{
			max-width: 80%;
			margin: 0 auto;
			// width: 100%;
			height: auto;

			@include mixins.MQ(S){
				max-width: 100%;
			}
		}
	}
}

.layout-RL .block-tekst-foto > .uk-grid{
	flex-direction: row-reverse;
}	

.block.block-tekst-header-holder.bg-slate + .block.block-tekst-foto-holder.bg-slate,
.block.block-tekst-header-holder.bg-mist + .block.block-tekst-foto-holder.bg-mist,
.block.block-tekst-header-holder.bg-iron + .block.block-tekst-foto-holder.bg-iron,
.block.block-tekst-header-holder.bg-porcelain + .block.block-tekst-foto-holder.bg-porcelain,
.block.block-tekst-header-holder.bg-haze + .block.block-tekst-foto-holder.bg-haze,
.block.block-tekst-header-holder.bg-transparent + .block.block-tekst-foto-holder.bg-transparent{
	padding-top: 0;
}

.block.block-tekst-foto-holder.bg-slate + .block.block-tekst-header-holder.bg-slate,
.block.block-tekst-foto-holder.bg-mist + .block.block-tekst-header-holder.bg-mist,
.block.block-tekst-foto-holder.bg-iron + .block.block-tekst-header-holder.bg-iron,
.block.block-tekst-foto-holder.bg-porcelain + .block.block-tekst-header-holder.bg-porcelain,
.block.block-tekst-foto-holder.bg-haze + .block.block-tekst-header-holder.bg-haze,
.block.block-tekst-foto-holder.bg-transparent + .block.block-tekst-header-holder.bg-transparent{
	padding-top: 30px;
}